<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">THP Gossip.</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      
      <li class="nav-item">
        <% if moussaillon_signed_in? %>
        <%= link_to "Se déconnecter", destroy_moussaillon_session_path, method: :delete, class: "nav-link" %>
        <li class="nav-item">
        <a class="nav-link" href="<%= new_gossip_path %>">Nouveau Gossip</a>
      </li>
        <li>
            <%= current_moussaillon.email  %>
        </li>
        <% end %>
      </li>
    </ul>
  </div>
</nav>